{% extends 'layout.html.twig' %}

{% block sidebar %}{% endblock %}

{% block body %}
<section>
    <h1 class="text-center">{{ app.user.firstName }}, welcome to the todolist.com</h1>

    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            {% if toDoLists %}
                <h2>Here are your todo lists:</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            {% set currentOrderDirection = app.request.get('orderDirection') %}
                            {% set orderDirection = currentOrderDirection == null or currentOrderDirection == "DESC" ? "ASC" : "DESC"  %}
                            <th class="ajaxSort" name="name" data-orderingdirection="DESC" href="#"><a href="#">Name</a>
                            <th class="ajaxSort" name="createdAt" data-orderingdirection="DESC"><a href="#">Created</a></th>
                            <th>Total tasks</th>
                            <th>Uncompleted tasks</th>
                        </tr>
                    </thead>
                    {% include 'todo_list/homepage_ajax_part.html.twig' %}
                </table>
            {% else %}
                <p class="text-center">
                    <br><br><br>
                    Currently, you do not have any todo list, <a href="{{ path('new_todolist') }}">but you can make one!</a>
                </p>
            {% endif %}
        </div>
    </div>
    {% block js %}
        <script type="text/javascript">
            $(document).ready(function(){
                $(".container").on('click', '.ajaxDelete', function(e){
                    e.preventDefault();
                    var th = $(this);
                    var url = "{{ path('delete_todolist', {id: 'ID'}) }}";
                    url = url.replace('ID', th.data('todolist-id'));
                    $.ajax({
                        type: "GET",
                        url: url,
                        success: function(response) {
                            document.getElementById(("ajax_html_part")).innerHTML = response;
                        }
                    });
                });
                $(".ajaxSort").on('click', function(e){
                    e.preventDefault();
                    var th = $(this);
                    var url = "{{ path('homepage', {'orderBy': "NAME", 'orderDirection': "DIRECTION"})|raw }}";
                    url = url.replace('NAME', th.attr('name'));
                    url = url.replace('DIRECTION', th.data('orderingdirection'));
                    $.ajax({
                        type: "GET",
                        url: url,
                        success: function(response) {
                            document.getElementById(("ajax_html_part")).innerHTML = response;
                            if (th.data('orderingdirection') == "DESC") {
                                th.data('orderingdirection', 'ASC');
                            } else if (th.data('orderingdirection') == "ASC") {
                                th.data('orderingdirection', 'DESC');
                            }
                        }
                    });
                });
   
            });
        </script>   
    {% endblock %}
</section>
{% endblock %}