{% extends 'layout.html.twig' %}

{% block sidebar %}{% endblock %}

{% block body %}
<section>
    <h1 class="text-center">Welcome to the Raptor Store</h1>

    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <h2>
                {% if search %}
                    {% if products is not empty %}
                        Products matching "{{ search }}"
                    {% else %}
                        No products found
                    {% endif %}
                {% else %}
                    Today's sweet products:
                {% endif %}
            </h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        {% set currentOrderDirection = app.request.get('orderDirection') %}
                        {% set orderDirection = currentOrderDirection == null or currentOrderDirection == "DESC" ? "ASC" : "DESC"  %}
                        <th class="ajaxCall" name="name" data-orderingdirection="DESC" href="#"><a href="#">Name</a>
                        <th id="ante" class="ajaxCall" name="createdAt" data-test="112" data-orderingdirection="DESC"><a href="#">Created</a></th>
                        <th><a id="total" href="#">Total tasks</a></th>
                        <th>Uncompleted tasks</th>
                    </tr>
                </thead>
                {% include 'main/homepage_ajax_part.html.twig' %}
            </table>
        </div>
    </div>
    {% block customJavascripts %}
      <script type="text/javascript" src="/behat_loco/web/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $(".ajaxCall").click(function(){
                var th = $(this);
                $.ajax({
                    type: "POST",
                    url: "{{ path('homepage') }}",
                    data: {
                       'orderBy': th.attr('name'), 'orderDirection': th.data('orderingdirection')
                    },
                    success: function(response) {
                        document.getElementById(("ajax_html_part")).innerHTML = response;
                        if (th.data('orderingdirection') == "DESC") {
                            th.data('orderingdirection', 'ASC');
                        } else if (th.data('orderingdirection') == "ASC") {
                            th.data('orderingdirection', 'DESC');
                        }
                    }
                });
            });
        });
    </script>
    {% endblock %}
</section>
{% endblock %}



